<div>
  <strong>Report:</strong>
  <% if params[:password] == @message.password %>
    <%= @message.decrypt_message %>
  <% else %>
    <%= @message.report %>
  <% end %>
</div>

<strong>To see the massage, please enter the password:</strong>
<div>
  <%= form_with method: :get do |f| %>
    <%= f.password_field :password %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
<div>
  <strong>Save link to this message:</strong>
  <%= link_to message_url %>
</div>
<%= link_to 'Back', messages_path %>
